* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;

    background-color: white;
    padding-top: 2.5rem;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #000000;
    position: relative;
    z-index: 1;
    margin: 0;
    /* Base black background */
}


#static-nav {
    font-family: 'Josefin Sans', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(0, 0, 0);
    padding: 0.8rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.compact-nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 400;
}


.top-splash {
    width: 100%;
    overflow: hidden;
    padding: 0.5rem 0;
    margin: 0;

    /* Prevent image overflow */
}

/* Mobile-specific scaling */
@media (max-width: 768px) {
    .top-splash {
        height: 70vh;
        width: 90vw;
        align-self: center;
    }

    .top-splash img {
        height: 100%;
    }
}

.top-splash img {
    width: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
}


header {
    font-family: 'VT323', serif;
    display: flex;
    flex-direction: column;
}

.top-title {
    padding: 0;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 2.5rem;
    /* Adjust this value as needed */
}

.top-subtitle {
    margin-top: 0;
    letter-spacing: 0.3rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    opacity: 0.8;
    line-height: 2rem;
}


.statement {
    background-color: rgba(13, 14, 83);
    margin: 0 -2.5rem;
    padding: 1rem 2rem;
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    opacity: 1;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}


.screen-segment {
    align-self: center;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}



/* For smaller screens: let height grow with content */
/* @media (max-width: 768px) {
    .screen-segment {
        height: auto;
        padding: 2rem 1rem;
    }
} */

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

@media (max-width: 768px) {
    .flex-row {
        flex-direction: column;
    }
}

b {
    font-size: 1.25rem;
}

h3 {
    font-family: 'VT323', serif;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    opacity: 0.7;
    margin: 1rem 0;
}



/* .intro .left-col {
    text-align: center;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.intro img {
    margin: 1rem;
    width: 400px;
    height: auto;
    object-fit: cover;
    object-position: center;
}


.accel img {
    margin: 1rem 0;
    width: 350px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.accel .right-col {
    text-align: center;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

img {
    margin: 1rem 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.left-col,
.right-col {
    text-align: center;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) {

    .left-col,
    .right-col {
        width: 100%;
    }
}




/* .dual-layer .left-img img {
    margin: 1rem 0;
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.dual-layer .right-img img {
    width: 500px;
    object-fit: scale-down;
    object-position: center;
}

.dual-layer .mid-col {
    text-align: center;
    padding: 1rem;
    width: 30vw;
} */

.dual-layer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /** or equal parts if needed**/
    align-items: center;
    gap: 1rem;
    text-align: center;
}


.left-img,
.right-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    justify-self: center;
    overflow: hidden;
}

#layers {
    overflow: visible;
}

/* Mobile layout: stacked vertically */
@media (max-width: 768px) {
    .dual-layer {
        grid-template-columns: 1fr;
        /* One column */
        grid-template-rows: auto auto auto;
        /* Optional: make rows auto height */
    }

    .dual-layer .left-img img {
        width: 90vw;
        height: auto;
    }
    .dual-layer .right-img {
        width: 90vw;
        height: auto;
    }
    .dual-layer .right-img img {
        margin: 0;
    }

}


/* Desktop default */
.swap-direction::after {
    content: "to the right";
}

/* Mobile override */
@media (max-width: 768px) {
    .swap-direction::after {
        content: "below";
    }
}


.finished-fin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 0 4rem;
}

@media (max-width: 768px) {
    .finished-fin {
        padding: 0;
        margin: 1rem;
        width: 95vw;
        align-self: center;
    }
}

/* }
.finished-fin img {
    width: 60%;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1rem;
} */

.reef-grid,
.intg-grid,
.visual-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    max-width: 1000px;
    margin: 0;
}

.reef-grid>*,
.intg-grid>*,
.visual-grid>* {
    width: 100%;
    margin: 0 auto;
    /* centers each item horizontally */

}

.reef-item img,
.intg-item img,
.visual-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.reef-text,
.intg-text,
.vis-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) {

    .reef-grid,
    .intg-grid,
    .visual-grid {
        grid-template-columns: 1fr;
        /* stack items vertically */
        grid-gap: 0rem;
        /* smaller spacing for mobile */
    }

    .reef-item,
    .intg-item,
    .visual-item {
        width: 300px;
        /* full width for each item */
        margin: 0 auto;
        /* centers each item horizontally */
        
    }

    .reef-item img,
    .intg-item img,
    .visual-item img {
        margin: 0;
    }
    .statement {
        font-size: 1rem;
        line-height: 1.25rem;
    }
}

/* Wide screen responsive design for segments */
@media (min-width: 2100px) {
    body {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .statement {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 1rem -2.5rem;
    }
    .screen-segment {
        width: 70%;
    }
    .top-splash {
        width: 80%;
        align-self: center;
    }
    header {
        width: 80%;
        align-self: center;
    }
    h3 {
        width: 75%;
        align-self: center;
    }
    .left-img,
    .right-img {
        height: 450px;
        width: 450px;
    }
    .finished-fin {
        margin: 0 20rem;
    }
    .reef-grid, .intg-grid, .visual-grid {
        max-width: 1200px;
    }
}

@media (max-width: 768px) {
    .vis-text {
        order: -1;
    }

    .img-1 {
        order: 0;
    }
}

.photo-grid-parallax {
    position: relative;
    height: 90vh;
    pointer-events: none
}

.horizontal-gallery {
    position: fixed;
    width: 100vw;
    height: 45vh;
    left: 0;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    pointer-events: none;

}

#gallery1 {
    top: 10vh;
}

#gallery2 {
    top: 50vh;
}
.gallery-item {
  flex: 1 1;
  max-width: 40vw;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: all;
}

.horizontal-gallery img:hover {
    filter: brightness(0.7);

    transition: 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .horizontal-gallery {
    position: static;
    flex-direction: column;
    width: 100%;
    height: auto;
    z-index: 1;
    background: #000; /* optional backdrop to maintain contrast */
    gap: 0;
  }

  .gallery-item {
    max-width: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .gallery-item img {display: block;         /* remove default inline gap */
    width: 100%;
    height: auto;
    max-height: none;
    margin: 0;
    padding: 0;
    border: none;
  }

  .photo-grid-parallax {
    height: auto;
  }
}


footer {
    width: 100vw;
    text-align: center;
    color: white;

    background-color: rgba(13, 14, 83);
    /* or use a solid color: background-color: #222; */
    padding: 1rem;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#mobile-footer {
    display: none;
}

@media (max-width: 768px) {
    #mobile-footer {
        display: block;
        position: static
    }
}