* {
    box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    
    background-color: white;
    padding-top: 2.5rem;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #000000;
    position: relative;
    z-index: 1;
    margin: 0;
    /* Base black background */
}


#static-nav {
    font-family: 'Josefin Sans', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(0, 0, 0);
    padding: 0.8rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.compact-nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 400;
}



.top-splash {
    width: 100%;
    padding-top: 1rem;
    overflow: hidden;

    /* Prevent image overflow */
}

.top-splash video {
    width: 100%;
    object-fit: cover;
    display: block;
}

header {
    font-family: 'VT323', serif;
    display: flex;
    flex-direction: column;
}

.top-title {
    padding: 0;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    /* Adjust this value as needed */
}

.top-subtitle {
    margin-top: 1rem;
    letter-spacing: 0.3rem;;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    opacity: 0.8;
}



.segment {
    align-self: center;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}


.screen-segment {
    align-self: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    
}

/* For smaller screens: let height grow with content */
@media (max-width: 768px) {
    .screen-segment {
        height: auto;
        padding: 2rem 1rem;
    }
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

b {
    font-size: 1.25rem;
}


h3 {
    font-family: 'VT323', serif;
    font-size: 5rem;
    letter-spacing: 0.3rem;
    line-height: 5rem;
    color: white;
    text-transform: uppercase;
    margin: 1.5rem 0;
    text-align: center;
    background-color: rgba(13, 14, 83);
    padding: 1.5rem;
}
h4 {
    font-family: 'VT323', serif;
    font-size: 4rem;
    
    color: black;
    letter-spacing: 0.3rem;
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
    padding-bottom: 0.75rem;
    display: inline-block; /* key line */
    line-height: 4rem;
}


.statement {
    background-color: rgba(13, 14, 83);
    margin: 0 -2.5rem;
    padding: 1rem 2rem;
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    opacity: 1;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}

h5 {
    font-size: 1.5rem;
    padding-top: 0;
    margin: 1rem;
}

.manufacturing .left-img {
    background-image: url('./img/propulsion/manu-stack3.png');
    background-repeat: no-repeat;
    width: 80vw;
    max-width: 700px;
    height: 100%;
    background-size: contain;
    background-position: center;
}
.manufacturing .left-img:hover {
    background-image: url('./img/propulsion/manu-stack4.png');
}

.manufacturing .right-img {
    background-image: url('./img/propulsion/manu-stack1.png');
    background-repeat: no-repeat;
    width: 80vw;
    max-width: 700px;
    height: 100%;
    background-size: contain;
    background-position: center;
}
.manufacturing .right-img:hover {
    background-image: url('./img/propulsion/manu-stack2.png');
}


.hydro-closure .right-col {
    width: 500px;
    text-align: center;
}
.hydro-closure .left-img img {
    object-fit: cover;
    object-position: center;
    height: 500px;
}

.test-closure .left-col {
    width: 500px;
    text-align: center;

}
.test-closure .right-img img {
    object-fit: cover;
    object-position: center;
    height: 400px;
}

.flight-closure .right-col {
    width: 600px;
    text-align: center;

}
.flight-closure .left-img img {
    object-fit: cover;
    object-position: center;
    height: 400px;
}

.nozzle-carrier .left-col {
    width: 500px;
    text-align: center;

}
.nozzle-carrier .right-img img {
    object-fit: cover;
    object-position: center;
    height: 500px;
}

.grains .right-col {
    width: 500px;
    text-align: center;

}
.grains .left-img img {
    object-fit: cover;
    object-position: center;
    height: 450px;
}

.stand .left-col {
    width: 500px;
    text-align: center;

}
.stand .right-img img {
    object-fit: cover;
    object-position: center;
    height: 500px;
}


.shf .left-img {
    background-image: url('./img/propulsion/shf-stack1.png');
    background-repeat: no-repeat;
    width: 80vw;
    max-width: 700px;
    height: 100%;
    background-size: contain;
    background-position: center;
}
.shf .left-img:hover {
    background-image: url('./img/propulsion/shf-stack2.png');
}

.shf .right-img {
    background-image: url('./img/propulsion/shf-stack3.png');
    background-repeat: no-repeat;
    width: 80vw;
    max-width: 700px;
    height: 100%;
    background-size: contain;
    background-position: center;
}
.shf .right-img:hover {
    background-image: url('./img/propulsion/shf-stack4.png');
}
.component-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    height: 90vh;
    width: 400px;
    gap: 1rem;
    text-align: center;
}

.team-card, .fix-card, .pose-card, .burn-card {
    position: relative;
    flex: 0 0 45%;
    width: 400px;
    height: 400px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.team-card {
    background-image: url("./img/propulsion/team.jpg");
}
.fix-card {
    background-image: url("./img/propulsion/fix.jpg");
}
.pose-card {
    background-image: url("./img/propulsion/propulsion-main.JPG");
}
.burn-card {
    background-image: url("./img/propulsion/burn.jpg");
}

.shf-body .mid-col {
    width: 450px;
    text-align: center;
    padding: 1rem;
}

.card-text {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    transform: translateY(0%);
    background-color: rgba(13, 14, 83, 0.8);
    color: white;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
  
.team-card:hover .card-text {
    transform: translateY(100%);
}
  
.fix-card:hover .card-text {
    transform: translateY(100%);
}

.pose-card:hover .card-text {
    transform: translateY(100%);
}
  
.burn-card:hover .card-text {
    transform: translateY(100%);
}

.hover-note {
    font-family: "VT323", serif;
    font-size: 1.5rem;
    color: rgb(0, 0, 0, 0.7);
    text-decoration: none;
}
#context {
    font-size: 1rem;
    color: rgb(0, 0, 0, 0.7);
}

.irec25 .left-img {
    background-image: url('./img/irec25/stack3.png');
    background-repeat: no-repeat;
    width: 80vw;
    max-width: 700px;
    height: 100%;
    background-size: contain;
    background-position: center;
}
.irec25 .left-img:hover {
    background-image: url('./img/irec25/stack4.png');
}

.irec25 .right-img {
    background-image: url('./img/irec25/stack1.png');
    background-repeat: no-repeat;
    width: 80vw;
    max-width: 700px;
    height: 100%;
    background-size: contain;
    background-position: center;
}
.irec25 .right-img:hover {
    background-image: url('./img/irec25/stack2.png');
}

.irec-body video {
    height: 300px;
    object-fit: cover;
    object-position: center;
    display: block;
}
.irec-body .left-col {
    width: 450px;
    text-align: center;
    padding: 1rem;
}


.photo-grid-parallax {
    position: relative;
    height: 90vh; 
    pointer-events: none
}

.horizontal-gallery {
    position: fixed;
    width: 100vw;
    height: 45vh;
    left: 0;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    pointer-events: none;
    
}
#gallery1 {
    top: 10vh;
}

#gallery2 {
    top: 50vh;
}

.horizontal-gallery img {  
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: all;
}

.horizontal-gallery img:hover {
    filter: brightness(0.7);
    
    transition: 0.3s ease-in-out;
}

footer {
    width: 100vw;
    text-align: center;
    color: white;

    background-color: rgba(13, 14, 83);
    /* or use a solid color: background-color: #222; */
    padding: 1rem;

    position: fixed; 
    bottom: 0;
    left: 0;
    z-index: -1;
}
